.completed {
    text-decoration: line-through;
    margin-left:30px;
  }

  .App {
    font-family: sans-serif;
    text-align: center;
    padding: 0 36px;
    max-width: 665px;
    margin: 0 auto;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h2
  {
    text-align: center; 
    
  }
  
  .shopping-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
  }
  .task {
    
    width: 45%;
    text-align: left;
    margin: 4px 0;
    padding-left: 8px;
  }
  
  .task.completed {
    background-color: #617091;
    text-decoration: line-through;
  }
  form {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-left: 150px;
  }
  form > input {
    background-color: #617091;
    border: 0;
    padding: 6px 0;
    font-size: 1rem;
    width: 240px;
    outline: 0;
    color: black;
    border-bottom: 1px solid #617091;
    margin-right: 8px;
    
  }
  
  button {
    background-color: #617091;
    border: 1px solid black;
    color: black;
    font-size: 16px;
    padding: 6px 14px;
  }

  .clear{
      margin-left:230px;
      margin-top: 15px;
  }
  
  input::placeholder {
    color: #617091;
    opacity: 1;
  }

  .maindiv{
      border:2px solid grey;
      height:400px;
      width:600px;
      margin-left:300px;
      background: #CFA30F;
      margin-top: 100px;
  }

  .todoList{
      border:2px solid grey;
      height:130px;
      width:300px;
      margin-left:150px;
  }
  